.global-view{
  position:relative;
  padding:100px 0;
  @include bp(tablet){
    padding:75px 0;
  }
  @include bp(mobile){
    padding:50px 0;
  }
  svg{
    width:80%;
    height:100%;
    @include position(absolute, 50%, null, null, 50%);
    @include transform(-50%, -50%);
    z-index:1;
  }
  .global-view__copy-container{
    position:relative;
    z-index:2;
    height:100%;
    width:60%;
    margin:0 auto;
    text-align:center;
    padding:250px 0;
    @include bp(tablet){
      padding:125px 0;
    }
    @include bp(mobile){
      padding:0;
      padding-bottom: 25px;
      width:85%;
    }
  }
}