.instagram{
  padding:100px 0;
  text-align:center;
  @include bp(mobile){
    padding:50px 0;
  }
  .tagline{
    font-size:1.5rem;
  }
  .insta-feed__container{
    width:95%;
    margin:0 auto;
    padding:50px 0;
    .insta-image{
      @include size(250px,250px);
      background-position:center;
      background-size:cover;
      flex-basis:25%;
      margin:0 10px;
      @include bp(mobile){
        display:none;
        &:first-child{
          display:flex;
          flex-basis:100%;
          margin:0 10px;
          height:350px;
        }
      }
    }
    .insta-icon{
      width:40px;
    }
  }
}