.btn{
  font-size:.85rem;
  padding:15px 35px;
  transition:.4s;
  font-family:'brandon_textbold';
  text-transform:uppercase;
  cursor:pointer;
  @include bp(tablet){
    padding:15px 25px;
  }
  &.btn-green{
    background-color: $green;
    color:$white;
    @include bp(desktop){
      &:hover{
        color:$white;
        background-color: $green-dark;
      }
    }
  }
  &.btn-white{
    background-color: $white;
    color:$green;
    @include bp(desktop){
      &:hover{
        color:$white;
        background-color: $green;
      }
    }
  }
  &.btn-white-dark-hover{
    background-color: $white;
    color:$green;
    @include bp(desktop){
      &:hover{
        color:$white;
        background-color: $green-dark;
      }
    }
  }
  &.btn-green-dark-hover{
    background-color: $green;
    color:$white;
    @include bp(desktop){
      &:hover{
        color:$white;
        background-color: $green-dark;
      }
    }
  }
}

.btn-no-styles{
  appearance:none;
  border:none;
}

.view-arrow{
  height:8px;
  width:8px;
  border-right:2px solid;
  border-bottom:2px solid;
  transform:rotate(-45deg);
  pointer-events:none;
  &.arrow-green-dark-light{
    border-color:$green-dark-light;
  }
  &.arrow-green{
    border-color:$green;
  }
  &.arrow-white{
    border-color:$white;
  }
}

.email-link{
  transition:.3s;
  @include bp(desktop){
    &:hover{
      color:$green;
    }
  }
}