.dual-enrollment{
  padding:50px 0 200px;
  background-color: $white-light;
  @include bp(mobile){
    padding-bottom:100px;
  }
  .dual__copy-container{
    margin-bottom:50px;
    .copy-container__title{
      text-align:center;
      @include bp(mobile){
        margin:0 10px 15px;
      }
    }
    .copy-container__copy{
      width:60%;
      margin:0 auto;
      text-align:center;
      @include bp(mobile){
        width:75%;
      }
    }
  }
  .dual__save-container{
    .save__title, .save-copy{
      letter-spacing:1px;
    }
    .save__amount{
      font-size:5rem;
    }
  }
}